* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-right:0;
    padding-left:0;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

#footer, #push {
  height: 100px;
}

#footer {
  background: #3c4146;
  border-color: #2d2d2d;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  color: white;
}

#footer a{
  color: #9fa6ad;
}

#footer a:hover{
  color: white;
}

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 1em;
  color: navy;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
  height: 100%;
}

h0, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
  width: 100%;
}

h0 {
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  font-size: 2.5em;
  margin-bottom: 1em;
}

h1 {
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  color: white;
  font-size: 3.5em;
}

h2 {
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  color: #333;
  font-size: 2em;
}

h3 {
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  color: navy;
  font-size: 1.5em;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

.vertically-centered {
  display: table-cell;
  vertical-align: middle;
}

.listTitle {
  color:navy;
  background-color: Gainsboro;
  font-size: 1.1em;
  font-weight: bold;
}

/* Links */

a {
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  color: navy;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

.navbar-logo {
  /*  font-family: "Wide latin"; */
}

.navbar-custom {
  background: midnightblue;
  background:#0f056b;
  border-color: #2d2d2d;
}

.navbar-custom .navbar-brand {
  color: #999999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand i {
  color: #ff7878;
  font-size: 22px;
}

.navbar-menu {
  font-size: 22px;
}

.navbar a:hover{
  color: white;
  text-decoration: underline;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-tabs {
   border-bottom: 1px solid #d45500;
}

fa-ul {
    text-align: left;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */
#headerTitle {
  margin-top: -10px;
  margin-bottom: -10px;
  padding-bottom: 20px;
}

#headerwrap {
/*  background: url(../img/header-bg.jpg) no-repeat center top;*/
  background: url(../img/industrieCuttedBlue.jpg) no-repeat center top;
  background-size: cover;
  box-shadow: 3px 5px 50px 5px;
}

#headerwrap h1 {
  margin-top: 50px;
  color: white;
  font-weight: 300;
}

#headerwrap h2 {
  color: white;
}

#headerwrap h3 {
  margin-top: 60px;
  color: navy;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
}

#headerwrap h4 {
  color: white;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
}

.sectionHeader{
  margin-top: 50px;
  margin-left: 3em;
}

.riskLetter{
  font-size: 2.4em;
  font-weight: bolder;
}

.sectionTitle{
  font-size: 1em;
  font-weight: bold;
  color:navy;
}

.sectionTitlePhone{
  font-size: 0em; /* disparait sur grand écran */
  font-weight: bold;
}

@font-face {
    font-family: "WideLatin";
    src:
    
    url("//db.onlinewebfonts.com/t/5afcc6e055927a510d82c2ced10c01c9.eot");
    src: url("//db.onlinewebfonts.com/t/5afcc6e055927a510d82c2ced10c01c9.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5afcc6e055927a510d82c2ced10c01c9.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/5afcc6e055927a510d82c2ced10c01c9.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/5afcc6e055927a510d82c2ced10c01c9.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/5afcc6e055927a510d82c2ced10c01c9.svg#Wide Latin") format("svg");

}

.wideLatin {
    font-family: "WideLatin";
    color:#ff7878;
    font-size: 1.8em;
}

@media (max-width: 768px ) { /* Ajustements pour petits écrans/phone */

  body {
    font-size: 0.8em;
  }

  .wideLatin {
      font-size: 1.2em;
  }
  .sectionTitle{
    font-size: 0em; /* disparait sur phone */
  }

  .sectionTitlePhone{
    font-size: 1em; /*s'affiche sur phone */
  }

  .sectionHeader {
    margin-left: 0em;
  }

  .nav-link {
    padding-left: 0rem;
    padding-right: 0rem;
  }

}
